<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Student Assessment Portal</title>
  <link rel="icon" href="{% static "images/svce2.png" %}" type="image/png">

  <link rel="stylesheet" href="{% static "css/master.css" %}">
  <link rel="stylesheet" href="{% static "vendors/bootstrap/bootstrap.min.css" %}">
  <link rel="stylesheet" href="{% static "vendors/fontawesome/css/all.min.css"%}">
  <link rel="stylesheet" href="{% static "vendors/themify-icons/themify-icons.css"%}">
  <link rel="stylesheet" href="{% static "vendors/linericon/style.css"%}">
  <link rel="stylesheet" href="{% static "vendors/owl-carousel/owl.theme.default.min.css"%}">
  <link rel="stylesheet" href="{% static "vendors/owl-carousel/owl.carousel.min.css"%}">

  <link rel="stylesheet" href="{% static "css/style.css"%}">

</head>
<body >
  <!--================Header Menu Area =================-->
  <header class="header_area">
    <div class="main_menu">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container box_1620">
          <!-- Brand and toggle get grouped for better mobile display -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
            <ul class="nav navbar-nav menu_nav justify-content-end">
              <li class="nav-item active"><a class="nav-link" href="/index">Home</a></li>
              <li class="nav-item"><a class="nav-link" href="/teacher">Teacher</a>
              <li class="nav-item"><a class="nav-link" href="/student">Student</a></li>
              <li class="nav-item submenu dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">Register</a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><a class="nav-link" href="/treg">Teacher Reg</a></li>
                  <li class="nav-item"><a class="nav-link" href="/sreg">Student Reg</a></li>
                </ul>
              </li>
            <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
              <!-- <li class="nav-item submenu dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">Login</a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><a class="nav-link" href="/tlog">Teacher Login</a></li>
                  <li class="nav-item"><a class="nav-link" href="/slog">Student Login</a></li>
                </ul>
              </li> -->
            </ul>
            <!-- <ul class="navbar-right">
            <li class="nav-item"><a class="button button-light" href="/log" style="color:white;">Login</a></li>
            </ul> -->
          </div>
        </div>
      </nav>
    </div>
  </header>
  <!--================Header Menu Area =================-->


  <main class="side-main">
    <!--================ Hero sm Banner start =================-->
    <section class="hero-banner mb-30px">
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            <div class="hero-banner__img">
              <img class="img-fluid" src="{% static "images/14.png" %}" style="height:389px; width:62%; margin-left:70px; "alt="">
            </div>
          </div>
          <div class="col-lg-5 pt-5">
            <div class="hero-banner__content">
              <p style="font-size:35px;">Designing Question Paper & Student Assessment Portal</p>
              <p style="font-size:20px;">"Nothing is impossible, The word itself says I'm Possible... So All The Best."</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================ Hero sm Banner end =================-->

    <!--================ about section start =================-->
    <section class="section-padding--small bg-magnolia">
     
    </section>
    <!--================ about section end =================-->


    <!--================ Solution section start =================-->

      <div class="container">
        <div class="row align-items-center pt-xl-3 pb-xl-5">
          <div class="col-lg-6">
            <div class="solution__img text-center text-lg-left mb-4 mb-lg-0">
              <img class="img-fluid" src="{% static "images/9-1.jpg" %}"alt="">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="solution__content">
              <h2>welcome toTest Press quiz</h2>

            </div>
          </div>
        </div>
      </div>

   
   
  </main>


  <script src="{% static "vendors/jquery/jquery-3.2.1.min.js" %}"></script>
  <script src="{% static "vendors/bootstrap/bootstrap.bundle.min.js" %}"></script>
  <script src="{% static "vendors/owl-carousel/owl.carousel.min.js" %}"></script>
  <script src="{% static "js/jquery.ajaxchimp.min.js" %}"></script>
  <script src="{% static "js/mail-script.js" %}"></script>
  <script src="{% static "js/main.js" %}"></script>
</body>
</html>
